{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script type="module" src={{ url_for('static', filename="js/quiz.js") }}></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/quiz.css") }}>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col">
            <div class="progress" id="countdown-holder">
                <div class="progress-bar bg-info" id="countdown-bar" role="progressbar"></div>
                <h5 id="countdown-clock"></h5>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-8">
            <button class="btn btn-primary btn-lg btn-block" id="buzz-button" type="button" title="Shortcut: SPACE">Buzz</button>
        </div>
        <div class="col-4">
            <button class="btn btn-warning btn-lg btn-block" id="skip-button" type="button" title="Shortcut: n or s">Skip</button>
        </div>
    </div>
    <div class="row my-2">
        <div class="col input-group" id="answer-group">
            <input type="text" class="form-control" id="answer-input">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="submit-button" type="button" title="Shortcut: ENTER">Submit</button>
            </div>
        </div>
    </div>
    <div class="row my-2" id="main-display">
        <div class="col-3">
            <div class="card" id="info-container">
                <div class="card-header">
                    <h5>Score:</h5>
                </div>
                <div class="card-body" id="info-display">
                    <p>Correct: <span id="correct-num">0</span></p>
                    <p>Negs: <span id="incorrect-num">0</span></p>
                    <p>Missed: <span id="missed-num">0</span></p>
                </div>
            </div>

            <div class="accordion" id="category-accordion">
                <div class="card">
                    <div class="card-header" data-toggle="collapse" data-target="#collapse-categories">
                        Categories &#x25BC
                    </div>
              
                    <div id="collapse-categories" class="collapse" data-parent="#category-accordion">
                        <div class="card-body" id="select-categories">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="card" id="question-container">
                <div class="card-header">
                    <h5 id="question-details"></h5>
                </div>
                <div class="card-body" id="question-box">
                    
                </div>
                <div class="card-footer" id="answer-container">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2" id="grading-buttons">
        <div class="col-6">
            <button class="btn btn-outline-success btn-lg btn-block" id="correct-button" type="button" title="Shortcut: c">Correct</button>
        </div>
        <div class="col-6">
            <button class="btn btn-outline-danger btn-lg btn-block" id="incorrect-button" type="button" title="Shortcut: i">Incorrect</button>
        </div>
    </div>
</div>
{% endblock %}